
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<form class="form-group" method="post">
    <div class="row justify-content-center my-auto">
        <div class="col-md-8 col-10 my-5">
            <div class="form-group"> <label class="form-control-label text-muted">Username</label> <input type="text" id="email" name="text" placeholder="" class="form-control"> </div>
            <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color">Login</button> </div>
          
        </div>
    </div>
</form>
